body {
  background-color: white;
}

nav a {
  padding: 10px;
  font-size: 15px;
  float: right;
  font-weight: medium-500;
  color: black;
}

nav a:hover {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
}

nav img {
  float: left;
}

a {
  text-decoration: none;
}

.modalities {
  text-align: center;
}

.teachers {
  text-align: center;

}

.practicioners {
  text-align: center;
}

footer {
  text-align: center;
}