body {
  background-color: white;
}

nav a {
  padding: 10px;
  font-size: 15px;
  float: right;
  font-weight: medium-500;
  color: black;
}

nav a:hover {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
}

nav img {
  float: left;
}

a {
  text-decoration: none;
}

.learnmore {
  text-align:center;
  background-color: #fdf5e7;
  padding: 80px;
  text-decoration: none;

}

.learnmore a {
  color: black;
  font-weight: bold;
}

.modalities {
  text-align: center;
}

/* .modalities h2 {
  display: flex 1 1 auto;
}

.modalities p {
  display: inline;
}

.modalities img {
display: flex;
margin: 20px 30px 0 0;
object-fit: contain;
align-self: flex-start;
width: 28%;

} */

.teachers {
  text-align: center;

}

.practicioners {
  text-align: center;
}

footer {
  text-align: left;
  background-color: #fdf5e7;
}
