body {
  background-color: white;
}

nav a {
  color: black;
  float: right;
  font-size: 15px;
  font-weight: medium-500;
  padding: 10px;
}

nav a:hover {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-decoration: underline;
}

nav img {
  float: left;
}

a {
  text-decoration: none;
}

h3 {
  align-items: center;
  color: #566573;
  text-align: center;
}

h2 {
  color: #566573;
}

.learnmore {
  background-color: #fdf5e7;
  padding: 80px;
  text-align:center;
  text-decoration: none;
}

.learnmore a {
  color: black;
  font-weight: bold;
}

.modalities {
  text-align: center;
}

.container-1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.container-1.5 {
  align-items: center;
  padding: 20px;
}

#meditationBlurb a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#meditationImg {
  width: 55%;
}

#meditationTitle {
  color: #566573;
  margin: 40px;

}

#meditationSubTitle {
  color: #566573;
  margin: 40px;
}

#meditationBlurb {
  color: #566573;
  font-style: italic;
  margin: 40px;
  text-align:center;
}

.container-2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.container-2 img {
  margin: 20px;
  width: 25%;
}

footer {
  background-color: #fdf5e7;
  text-align: left;
}
